button{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    margin-left: 700px;
}
button{
    cursor: pointer;
}
button:hover{
    background-color: brown;
}